---
layout: default
title: Home
---

<div class="container">
  <header class="intro">
    Hi, I'm <img alt="Evrim" class="intro__logo" src="{{ site.url }}/public/logo.png" />.
    <br class="intro__separator" />
    I'm a <em class="intro__em">web and mobile app developer</em> based in <em class="intro__em">Dubai</em><span
      class="intro__dot">.</span>
  </header>
  {% include header.html no-logo=true %}
  <main>
    <section class="home-section sample-articles">
      <h1 class="home-section__heading">Latest Articles</h1>

      <ul class="link-list">
        {% for post in site.posts limit:5 %}
        <li>
          <a class="link-light" href="{{ post.url }}">
            {{ post.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="home-section sample-projects">
      <h1 class="home-section__heading">Projects</h1>

      <ul class="grid-list">
        <li class="grid-list__item">
          <a class="grid-list__link" href="{{ site.url }}/projects/covid-19-in-charts">
            <div class="card">
              <img alt="" class="card__image" src="{{ site.url }}/public/projects/covid-19-in-charts-thumb.jpg">
              <h1 class="card__title">COVID-19 in Charts</h1>
              <p class="card__description">
                COVID-19 in Charts is a website that visualizes the JHU CSSE COVID-19 data using simple to understand
                charts. Visited by thousands of people.
              </p>
            </div>
          </a>
        </li>
        <li class="grid-list__item">
          <a class="grid-list__link" href="{{ site.url }}/projects/automated-hotel">
            <div class="card">
              <img alt="" class="card__image" src="{{ site.url }}/public/projects/automated-hotel-thumb.jpg">
              <h1 class="card__title">Automated Hotel</h1>
              <p class="card__description">
                Automated Hotel was a startup idea that I worked on, which aimed to bring the hotel guest experience to
                the 21st century.
              </p>
            </div>
          </a>
        </li>
        <li class="grid-list__item">
          <a class="grid-list__link" href="{{ site.url }}/projects/indie-sumo">
            <div class="card">
              <img alt="" class="card__image" src="{{ site.url }}/public/projects/indie-sumo-thumb.jpg">
              <h1 class="card__title">Indie Sumo</h1>
              <p class="card__description">
                Indie Sumo is a curated list of top resources for indie developers, bootstrappers and solo
                entrepreneurs.
              </p>
            </div>
          </a>
        </li>
        <li class="grid-list__item">
          <a class="grid-list__link" href="{{ site.url }}/projects/covid-19-api">
            <div class="card">
              <img alt="" class="card__image" src="{{ site.url }}/public/projects/covid-19-api-thumb.jpg">
              <h1 class="card__title">COVID-19 API</h1>
              <p class="card__description">
                COVID-19 API is a JavaScript library that provides a simple API for the Johns Hopkins University CSSE
                COVID-19 time series data.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <section class="home-section sample-others">
      <h1 class="home-section__heading">Other Stuff</h1>

      <ul class="link-list">
        {% for other in site.others %}
        <li>
          <a class="link-light" href="{{ other.url }}">
            {{ other.description }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="home-section" id="about">
      <h1 class="home-section__heading">About</h1>

      <img alt="Evrim's Photo" class="home-section__author-photo" src="{{ site.url }}/public/evrim-persembe.jpg" />
      <p class="paragraph">
        Aut ipsa praesentium et temporibus. Dolorum sed dolores molestias aliquam sunt accusamus. Est quasi quos
        delectus officiis nihil. Distinctio est dolore omnis.
      </p>
      <p class="paragraph">
        Eos ab molestias sint dolorem in beatae. Quia nesciunt dolore recusandae qui. Aliquam laudantium occaecati ut
        accusantium velit. Assumenda iure cum. Deleniti laboriosam aut accusantium fugit perspiciatis ipsum doloribus.
        Et quis aut qui aspernatur qui.
      </p>
      <p class="paragraph">
        Voluptas sunt voluptas. Ut possimus voluptatem excepturi dolor quisquam magnam laudantium numquam. Dolorem hic
        dolorum. Iure mollitia dicta cupiditate nobis ab quia assumenda quos.
      </p>
    </section>

    <section class="home-section get-in-touch" id="get-in-touch">
      <h1 class="home-section__heading">Get in Touch</h1>

      <p class="paragraph">
        The best way to get in touch with me is via email. My email address is <em class="get-in-touch__email">hi -at-
        evrim -dot- io</em>.
      </p>
    </section>
  </main>
</div>
