<footer class="main-footer">
  <div class="container">
    <ul class="main-footer__nav">
      <li>
        <a class="link main-footer__nav-link" href="#">Home</a>
      </li>
      <li>
        <a class="link main-footer__nav-link" href="#">Articles</a>
      </li>
      <li>
        <a class="link main-footer__nav-link" href="#">Projects</a>
      </li>
      <li>
        <a class="link main-footer__nav-link" href="#">About</a>
      </li>
      <li>
        <a class="link main-footer__nav-link" href="#">Get in Touch</a>
      </li>
    </ul>
    <p class="main-footer__quote">
      “Extraordinary claims require extraordinary evidence.” —&nbsp;Carl&nbsp;Sagan
    </p>
  </div>
</footer>
