<footer class="main-footer">
  <div class="container">
    <ul class="main-footer__nav">
      <li>
        <a class="link-attention main-footer__nav-link" href="{{ site.url }}">Home</a>
      </li>
      <li>
        <a class="link-attention main-footer__nav-link" href="{{ site.url }}/articles">Articles</a>
      </li>
      <li>
        <a class="link-attention main-footer__nav-link" href="{{ site.url }}/projects">Projects</a>
      </li>
      <li>
        <a class="link-attention main-footer__nav-link" href="{{ site.url }}/#about">About</a>
      </li>
      <li>
        <a class="link-attention main-footer__nav-link" href="{{ site.url }}/#get-in-touch">Get in Touch</a>
      </li>
    </ul>
    <p class="main-footer__quote">
      “Extraordinary claims require extraordinary evidence.” —&nbsp;Carl&nbsp;Sagan
    </p>
  </div>
</footer>
