<footer class="main-footer">
  <div class="container">
    <ul class="main-footer__nav">
      <li>
        <a class="link link-negative main-footer__nav-link" href="{{ site.url }}">Home</a>
      </li>
      <li>
        <a class="link link-negative main-footer__nav-link" href="{{ site.url }}/writings">Writings</a>
      </li>
      <li>
        <a class="link link-negative main-footer__nav-link" href="{{ site.url }}/projects">Projects</a>
      </li>
      <li>
        <a class="link link-negative main-footer__nav-link" href="{{ site.url }}/stuff">Other Stuff</a>
      </li>
    </ul>
    <p class="main-footer__quote">
      “Extraordinary claims require extraordinary evidence.” —&nbsp;Carl&nbsp;Sagan
    </p>
  </div>
</footer>
