<nav class="nav-mobile" id="mobile-top-bar">
  <div class="nav-mobile__bar">
    <div class="nav-mobile__toggle" id="mobile-menu-toggle">
      <span class="sr-only">Toggle Menu</span>
      <hr class="nav-mobile__hamburger-line"/>
      <hr class="nav-mobile__hamburger-line"/>
      <hr class="nav-mobile__hamburger-line"/>
    </div>
    <a href="{{ site.url }}" class="nav-mobile__brand">
      Evrim.
    </a>
  </div>
  <ul class="nav-mobile__list" id="mobile-menu">
    <li class="nav-mobile__element">
      <a class="link nav-mobile__link" href="{{ site.url }}/writings">Writings</a>
    </li>
    <li class="nav-mobile__element">
      <a class="link nav-mobile__link" href="{{ site.url }}/projects">Projects</a>
    </li>
    <li class="nav-mobile__element">
      <a class="link nav-mobile__link" href="{{ site.url }}/stuff">Other Stuff</a>
    </li>
  </ul>
</nav>
<header class="main-header">
  <a href="{{ site.url }}" class="main-header__brand">
    Evrim.
  </a>
  <nav class="nav-top">
    <ul class="nav-top__list">
      <li class="nav-top__element">
        <a class="link nav-top__link" href="{{ site.url }}/writings">Writings</a>
      </li>
      <li class="nav-top__element">
        <a class="link nav-top__link" href="{{ site.url }}/projects">Projects</a>
      </li>
      <li class="nav-top__element">
        <a class="link nav-top__link" href="{{ site.url }}/stuff">Other Stuff</a>
      </li>
    </ul>
  </nav>
</header>
