.article {
  margin: 5rem auto 0;
  max-width: $wide-container-size;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 2rem;
    padding: 0 1.5rem;
  }

  & p {
    @extend .paragraph;

    & em {
      @extend .paragraph__emphasis
    }
  }

  & h2 {
    @extend .heading;

    margin: 3rem 0 0.8rem;
  }

  & h3 {
    @extend .sub-heading;

    margin: 2rem 0 0.4rem;
  }

  & h2,
  & h3 {
    margin-left: ($wide-container-size - $narrow-container-size) / 2;

    @media (max-width: $small-screen-breakpoint) {
      margin-left: 0;
    }
  }

  & a {
    @extend .link-attention;

    &.article__category-link {
      @extend .link-light;
    }
  }

  &__categories {
    &:before {
      content: ' ・ ';

      @media (max-width: $small-screen-breakpoint) {
        display: none;
      }
    }

    @media (max-width: $small-screen-breakpoint) {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    color: $color-attention;
    font-family: $font-family-heading;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;

    @media (max-width: $small-screen-breakpoint) {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  &__meta {
    color: $color-light;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;

    @media (max-width: $small-screen-breakpoint) {
      margin-bottom: 1rem;
    }
  }

  &__quote,
  & blockquote p {
    border-left: 0.5rem solid $color-attention;
    color: $color-attention;
    font-size: 1.2rem;
    font-style: italic;
    margin: 1.4rem auto;
    max-width: $wide-container-size;
    opacity: 0.8;
    padding-left: 1rem;
  }

  &__code,
  pre.highlight {
    border: 0.2rem solid $color-light;
    border-radius: 0.35rem;
    color: $color-light;
    font-family: $font-family-code;
    font-size: 1rem;
    margin: 1.5rem 0;
    overflow-x: scroll;
    padding: 1rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__inline-code,
  & code.language-plaintext {
    background-color: $color-light;
    border-radius: 0.35rem;
    color: $color-dark;
    display: inline-block;
    font-family: $font-family-code;
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
  }

  &__image {
    &-left,
    &-right,
    &-center {
      border: 0.2rem solid $color-light;
      display: block;
    }

    &-left {
      float: left;
      margin: {
        left: ($wide-container-size - $narrow-container-size) / -2;
        right: 2rem;
      }
    }

    &-right {
      float: right;
      margin: {
        left: 2rem;
        right: ($wide-container-size - $narrow-container-size) / -2;
      }
    }

    &-left,
    &-right {
      margin: {
        bottom: 0.5rem;
        top: 0.5rem;
      }
      max-width: 15rem;

      @media (max-width: $small-screen-breakpoint) {
        float: none;
        margin: 1.5rem auto;
        max-width: none;
      }
    }

    &-center {
      margin: {
        bottom: 1.5rem;
        left: 50%;
        top: 1.5rem;
      }
      max-width: $wide-container-size;
      transform: translateX(-50%);

      @media (max-width: $small-screen-breakpoint) {
        max-width: none;
      }
    }
  }

  &__footer {
    margin: 5rem 0 3rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-top: 3rem;
    }
  }

  &__author-separator {
    background-color: $color-light;
    border: 0;
    height: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
    width: 6rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-bottom: 2rem;
    }
  }

  &__author {
    align-items: center;
    display: flex;
    justify-content: space-around;

    @media (max-width: $small-screen-breakpoint) {
      flex-direction: column;
    }
  }

  &__author-photo {
    border: 0.2rem solid $color-light;
    border-radius: 50%;
    height: 6rem;
    margin-right: 2rem;

    @media (max-width: $small-screen-breakpoint) {
      height: 10rem;
      margin-bottom: 1rem;
    }
  }

  &__author-info {
    display: block;

    @media (max-width: $small-screen-breakpoint) {
      text-align: center;
    }
  }
}

.article-page-separator {
  background-color: $color-light;
  border: 0;
  height: 0.2rem;
  margin: 2rem auto;
}

.newsletter {
  margin-bottom: 3rem;

  &__heading {
    margin-bottom: 0.8rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;

    @media (max-width: $small-screen-breakpoint) {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;

    @media (max-width: $small-screen-breakpoint) {
      margin-bottom: 0.5rem;
    }
  }
}

.recommended-articles {
  margin-bottom: 3rem;

  &__heading {
    margin-bottom: 0.8rem;
  }

  &__link {
    margin-bottom: 0.5rem;
  }
}
