/* From https://a11y-guidelines.orange.com/web_EN/exemples/masquage/index.html */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  margin: 0 auto;
  max-width: $narrow-container-size;

  @media (max-width: $small-screen-breakpoint) {
    padding: 0 1.5rem;
  }
}

.link-attention,
.link-light {
  border-bottom: 0.1em solid;
  text-decoration: none;
  transition: border-bottom-color 100ms ease-in-out;
}

.link-attention {
  border-color: $color-attention;
  color: $color-attention;

  &:hover {
    border-color: $color-light;
  }
}

.link-light {
  border-color: $color-light;
  color: $color-light;

  &:hover {
    border-color: $color-attention;
  }
}

.button {
  background-color: $color-attention;
  border: $border;
  border-radius: $border-radius;
  color: $color-dark;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 2rem 0.65rem;
  text-align: center;
  text-decoration: none;
  transition: border 200ms;

  @media (max-width: $small-screen-breakpoint) {
    padding-bottom: 0.55rem;
  }

  &:hover {
    border-color: $color-attention;
    cursor: pointer;
  }
}

.input {
  background-color: $color-dark;
  border: $border;
  border-radius: $border-radius;
  color: $color-light;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  transition: border 200ms;

  &:focus {
    border-color: $color-attention;
    outline: none;
  }

  &::placeholder {
    color: $color-light;
    opacity: 0.8;
  }
}

.ordered-list,
.unordered-list {
  margin: 1.5rem auto;
  max-width: $narrow-container-size;

  &__item {
    counter-increment: list;
    margin: {
      bottom: 0.5rem;
      left: 3.5rem;
    }
    position: relative;

    @media (max-width: $small-screen-breakpoint) {
      margin-left: 2.5rem;
    }

    & > .unordered-list,
    & > .ordered-list {
      margin: {
        left: -1rem;
        top: 0.5rem;
      }
    }

    &::before {
      color: $color-attention;
      left: -2rem;
      position: absolute;
      text-align: right;
      width: 1.5rem;
    }
  }
}

.ordered-list {
  &__item::before {
    content: counter(list) ".";
  }
}

.unordered-list {
  &__item::before {
    content: "●";
    top: -0.08rem;
  }
}

.link-list li {
  margin-bottom: 1.2rem;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -2rem;

  &__item {
    width: $narrow-container-size / 2 - 1rem;

    @media (max-width: $small-screen-breakpoint) {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
  }
}

.card {
  border: $border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
  margin-bottom: 2rem;
  overflow: hidden;
  transition: border 100ms ease-in-out;

  @media (max-width: $small-screen-breakpoint) {
  }

  &:hover {
    border-color: $color-attention;
  }

  &__image {
    border-bottom: $border;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    color: $color-light;
    font-family: $font-family-heading;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 1.2rem;
    padding: 0 1rem;
    text-decoration: none;
  }

  &__description {
    color: $color-light;
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0.3rem;
    opacity: 0.6;
    padding: 0 1rem;
  }
}

.main-header {
  margin-top: 3rem;

  @media (max-width: $small-screen-breakpoint) {
    display: none;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 15rem;
  }
}

.nav-top {
  margin: 2.5rem 0 4rem;

  @media (max-width: $small-screen-breakpoint) {
    display: none;
  }
}

.nav-top {
  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &::before,
    &::after {
      border-top: 0.1rem solid $color-light;
      content: "";
      display: inline-block;
      margin-bottom: -0.3rem;
      opacity: 0.5;
      width: 2rem;
    }
  }

  &__element {
    display: inline-block;
  }

  &__link {
    @extend .link-attention;
  }
}

.nav-mobile {
  background-color: $color-dark;
  border-bottom: 0.2rem solid $color-light;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: top 200ms;
  z-index: 9999;

  @media (max-width: $small-screen-breakpoint) {
    display: block;
  }

  &__bar {
    align-items: center;
    height: 3rem;
    padding: 1rem 1.5rem;
    position: relative;
    width: calc(100% - 3rem);
  }

  &__logo {
    display: block;
    height: 3rem;
    margin: 0 auto;
  }

  &__toggle {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-around;
    left: 1.5rem;
    position: absolute;
    top: 1.5rem;
    width: 2rem;
  }

  &__hamburger-line {
    background-color: $color-light;
    border: 0;
    border-radius: 0.15rem;
    flex-shrink: 0;
    height: 0.3rem;
    margin: 0;
    width: 2.5rem;
  }

  &__list {
    display: none;
    padding: 1.5rem 1.5rem 0.5rem;
  }

  &__link {
    border: none;
    color: $color-light;
    display: block;
    height: 4rem;
    text-align: center;

    &::before,
    &::after {
      display: none;
    }
  }
}

.main-footer {
  background-color: $color-dark;
  border-top: 0.2rem solid $color-light;
  margin-top: 3rem;
  padding: 2.5rem 0 0.7rem;

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 30rem;

    @media (max-width: $small-screen-breakpoint) {
      flex-direction: column;
      width: auto;
    }
  }

  &__nav-link {
    @extend .link-light;
    font-size: 1rem;

    @media (max-width: $small-screen-breakpoint) {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__quote {
    color: $color-light;
    font-size: 1rem;
    margin-top: 2.5rem;
    opacity: 0.5;
    text-align: center;

    @media (max-width: $small-screen-breakpoint) {
      margin-top: 1rem;
    }
  }
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.heading {
  color: $color-attention;
  display: block;
  font-family: $font-family-heading;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: $narrow-container-size;
  text-align: left;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 1.5rem;
  }
}

.sub-heading {
  color: $color-attention;
  font-family: $font-family-heading;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  max-width: $narrow-container-size;
  opacity: 0.8;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 1.2rem;
  }
}

.paragraph {
  margin: 0 auto 1rem;
  max-width: $narrow-container-size;

  &__emphasis {
    color: $color-attention;
    font-style: italic;
    opacity: 0.8;
  }
}
