@mixin shadow {
  -moz-box-shadow: 0 0 20px 5px rgba($color-text, 0.05);
  -webkit-box-shadow: 0 0 20px 5px rgba($color-text, 0.05);
  box-shadow: 0 0 20px 5px rgba($color-text, 0.05);
}

@mixin hover-shadow {
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;

  &:hover {
    -moz-box-shadow: 0 0 20px 10px rgba($color-text, 0.05);
    -webkit-box-shadow: 0 0 20px 10px rgba($color-text, 0.05);
    box-shadow: 0 0 20px 10px rgba($color-text, 0.05);
    transform: scale(1.01);
  }
}

/* From https://a11y-guidelines.orange.com/web_EN/exemples/masquage/index.html */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  max-width: $narrow-container-size;
  width: 100%;

  @media (max-width: $small-screen-breakpoint) {
    padding: 0 1.5rem;
    margin: auto;
  }
}

.link {
  border-bottom: 0.2em solid;
  border-color: rgba($color-text, 0.1);
  color: $color-text;

  text-decoration: none;
  transition: border-bottom-color 100ms ease-in-out;

  &:hover {
    border-color: $color-attention;
  }
}

.link-negative {
  border-color: rgba($color-bg, 0.1);
  color: $color-bg;

  &:hover {
    border-color: $color-attention;
  }
}

.button {
  background-color: $color-attention;
  border: 0.15rem solid $color-attention;
  border-radius: $border-radius;
  color: $color-bg;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 2rem 0.65rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out;

  @media (max-width: $small-screen-breakpoint) {
    padding-bottom: 0.55rem;
  }

  &:hover {
    background-color: $color-text;
    border-color: $color-text;
    cursor: pointer;
  }
}

.input {
  background-color: $color-bg;
  border: 0.15rem solid rgba($color-text, 0.1);
  border-radius: $border-radius;
  color: $color-text;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  transition: border 200ms;

  &:hover {
    border-color: rgba($color-text, 0.3);
  }

  &:focus {
    border-color: $color-attention;
    outline: none;
  }

  &::placeholder {
    color: $color-text;
    opacity: 0.8;
  }
}

.ordered-list,
.unordered-list {
  margin: 1.5rem auto;
  max-width: $narrow-container-size;

  &__item {
    counter-increment: list;
    margin: {
      bottom: 0.5rem;
      left: 3.5rem;
    }
    position: relative;

    @media (max-width: $small-screen-breakpoint) {
      margin-left: 2.5rem;
    }

    & > .unordered-list,
    & > .ordered-list {
      margin: {
        left: -1rem;
        top: 0.5rem;
      }
    }

    &::before {
      color: $color-attention;
      left: -2rem;
      position: absolute;
      text-align: right;
      width: 1.5rem;
    }
  }
}

.ordered-list {
  &__item::before {
    content: counter(list) ".";
  }
}

.unordered-list {
  &__item::before {
    content: "●";
    top: -0.08rem;
  }
}

.link-list {
  li {
    margin-bottom: 1.2rem;
  }

  &__meta {
    font-size: 0.7rem;
    opacity: 0.7;
  }

  &__description {
    font-size: 1rem;
    opacity: 0.7;
    margin: 0.5rem auto 2rem;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto 5rem;
  width: $wide-container-size;

  @media (max-width: $small-screen-breakpoint) {
    display: none;
  }

  &__brand {
    color: $color-attention;
    font: {
      family: $font-family-heading;
      size: 2rem;
    }
    display: inline-block;
  }
}

.nav-top {
  display: inline-block;
  margin-top: -0.7rem;

  @media (max-width: $small-screen-breakpoint) {
    display: none;
  }
}

.nav-top {
  &__list {
    display: inline-block;
  }

  &__element {
    display: inline-block;
    margin-left: 3rem;
  }

  &__link {
    @extend .link;
  }
}

.nav-mobile {
  background-color: $color-attention;
  color: $color-bg;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: top 200ms;
  z-index: 9999;

  @media (max-width: $small-screen-breakpoint) {
    display: block;
  }

  &__bar {
    height: 5rem;
    padding: 1rem 1.5rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__brand {
    font: {
      family: $font-family-heading;
      size: 2rem;
    }
    color: $color-bg;
  }

  &__toggle {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-around;
    left: 1.5rem;
    position: absolute;
    top: 1.5rem;
    width: 2rem;
  }

  &__hamburger-line {
    background-color: $color-bg;
    border: 0;
    border-radius: 0.15rem;
    flex-shrink: 0;
    height: 0.3rem;
    margin: 0;
    width: 2.5rem;
  }

  &__list {
    display: none;
    padding: 1.5rem 1.5rem 0.5rem;
  }

  &__link {
    border: none;
    color: $color-bg;
    display: block;
    height: 4rem;
    text-align: center;

    &::before,
    &::after {
      display: none;
    }
  }
}

.main-footer {
  background-color: $color-text;
  color: $color-bg;
  margin-top: 4rem;
  padding: 2.5rem 0 0.8rem;

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 30rem;

    @media (max-width: $small-screen-breakpoint) {
      flex-direction: column;
      width: auto;
    }
  }

  &__nav-link {
    @extend .link;
    font-size: 1rem;

    @media (max-width: $small-screen-breakpoint) {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__quote {
    font-size: 1rem;
    margin-top: 2.5rem;
    opacity: 0.5;
    text-align: center;

    @media (max-width: $small-screen-breakpoint) {
      margin-top: 1rem;
    }
  }
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.heading {
  color: $color-attention;
  display: block;
  font-family: $font-family-heading;
  font-size: 1.6rem;
  font-weight: $font-family-body-bold-weight;
  line-height: 1.1;
  max-width: $narrow-container-size;
  text-align: left;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 1.5rem;
  }
}

.sub-heading {
  color: $color-attention;
  font-family: $font-family-heading;
  font-size: 1.4rem;
  font-weight: $font-family-body-bold-weight;
  line-height: 1.2;
  max-width: $narrow-container-size;
  opacity: 0.8;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 1.2rem;
  }
}

.paragraph {
  margin: 0 auto 1rem;
  max-width: $narrow-container-size;

  &__emphasis {
    font-style: italic;
  }

  &__strong {
    font-weight: $font-family-body-bold-weight;
  }
}
