html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  background-color: $color-bg;
  font-size: 16px;

  @media (max-width: $small-screen-breakpoint) {
    font-size: 13px;
  }
}

body {
  box-sizing: border-box;
  color: $color-text;
  font-family: $font-family-body;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $small-screen-breakpoint) {
    padding-top: 4rem;
  }
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
