.home {
  width: $wide-container-size;
  margin: 0 auto;

  @media (max-width: $small-screen-breakpoint) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1.5rem 0;
    align-items: flex-start;
  }

  &__author {
    display: flex;
    align-items: center;

    @media (max-width: $small-screen-breakpoint) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    padding: 0 2.5rem;

    @media (max-width: $small-screen-breakpoint) {
      padding: 0;
    }
  }

  &__image {
    border-radius: $border-radius;
    width: 222px;
    height: 222px;

    @media (max-width: $small-screen-breakpoint) {
      width: 100%;
      max-width: 222px;
      height: auto;
      margin-bottom: 2rem;
    }
  }

  &__title {
    font: {
      family: $font-family-body;
      size: 2.5rem;
    }
    margin-bottom: 0;
  }

  &__brand {
    font-family: $font-family-heading;
    color: $color-attention;
  }

  &__paragraph {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;

    @media (max-width: $small-screen-breakpoint) {
      font-size: 1.5rem;
      width: 100%;
    }
  }

  &__social-icons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }

  &__social-link {
    margin-right: 1rem;
    opacity: 0.6;
    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }
  }

  &__social-icon {
    width: 2rem;
    height: 2rem;

    @media (max-width: $small-screen-breakpoint) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__bottom-info {
    flex: 1;
    font-size: 1rem;
    margin-top: 2rem;

    @media (max-width: $small-screen-breakpoint) {
      font-size: 1.5rem;
    }
  }

  &__get-in-touch {
    font-style: italic;
    opacity: 0.8;
  }
}