.intro {
  font-family: $font-family-heading;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 3rem;

  @media (max-width: $small-screen-breakpoint) {
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 3.5rem 0 3.5rem;
    text-align: center;
  }

  &__logo {
    margin-bottom: -1rem;
    width: 15rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-top: 0.5rem;
      width: 15rem;
    }
  }

  &__em {
    color: $color-attention;
    font-family: $font-family-heading;
    font-style: italic;
    font-weight: 900;
  }

  &__dot {
    margin-left: 0.2rem;
  }

  &__separator {
    @media (max-width: $small-screen-breakpoint) {
      content: '';
      display: block;
      margin-bottom: 2rem;
    }
  }
}

.home-section {
  margin-bottom: 3rem;

  @media (max-width: $small-screen-breakpoint) {
    margin-bottom: 3rem;
  }

  &__heading {
    @extend .heading;

    margin-bottom: 1.5rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-top: 0;
    }
  }

  &__list-item {
    margin-bottom: 1rem;
  }

  &__link {
    margin-bottom: 4rem;
  }

  &__more-button {
    align-self: center;
    margin-top: 1.5rem;
  }

  &__author-photo {
    border: 0.2rem solid $color-light;
    border-radius: 50%;
    float: left;
    height: 10rem;
    margin: {
      bottom: 0.5rem;
      right: 2rem;
      top: 1rem;
    }
    width: 10rem;

    @media (max-width: $small-screen-breakpoint) {
      display: block;
      float: none;
      margin: 2rem auto;
      width: 10rem;
    }
  }
}

.sample-projects,
.sample-articles,
.sample-others {
  display: flex;
  flex-direction: column;
}

.get-in-touch {
  margin-bottom: 0;

  &__email {
    color: $color-attention;
  }
}
