.page {
  @extend .container;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 3rem;
  }

  &__title {
    color: $color-attention;
    font-family: $font-family-heading;
    font-size: 3rem;
    font-weight: $font-family-body-bold-weight;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: -1.5rem;
    opacity: 0.6;
  }

  &__heading {
    color: $color-attention;
    font-family: $font-family-heading;
    font-size: 2rem;
    font-weight: $font-family-body-bold-weight;
    margin: {
      bottom: 0;
      top: 2rem;
    }
  }
}
