.post {
  @extend .clearfix;

  margin: 0 auto 0;
  max-width: $wide-container-size;

  @media (max-width: $small-screen-breakpoint) {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }

  & p {
    @extend .paragraph;

    & em {
      @extend .paragraph__emphasis;
    }

    & strong {
      @extend .paragraph__strong;
    }
  }

  & h2 {
    @extend .heading;

    margin: 3rem 0 0.8rem;
  }

  & h3 {
    @extend .sub-heading;

    margin: 2rem 0 0.4rem;
  }

  & h2,
  & h3 {
    margin-left: ($wide-container-size - $narrow-container-size) / 2;

    @media (max-width: $small-screen-breakpoint) {
      margin-left: 0;
    }
  }

  & a {
    @extend .link;
  }

  &__title {
    color: $color-attention;
    font-family: $font-family-heading;
    font-size: 2rem;
    font-weight: $font-family-body-bold-weight;
    line-height: 1.2;
    margin-bottom: 1.5rem;

    @media (max-width: $small-screen-breakpoint) {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  &__meta {
    color: $color-text;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;

    @media (max-width: $small-screen-breakpoint) {
      margin-bottom: 1rem;
    }
  }

  &__quote,
  & blockquote {
    border-left: 0.5rem solid $color-attention;

    p {
      color: $color-text;
      font-size: 1.2rem;
      font-style: italic;
      margin: 1.4rem auto;
      max-width: $wide-container-size;
      opacity: 0.8;
      padding-left: 1rem;
    }
  }

  &__code,
  pre.highlight {
    @include shadow;

    background-color: $color-code-bg;
    border-radius: $border-radius;
    color: $color-bg;
    font-family: $font-family-code;
    font-size: 1rem;
    margin: 1.5rem 0;
    overflow-x: scroll;
    padding: 1rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__inline-code,
  & :not(pre) > code {
    background-color: $color-code-bg;
    border-radius: $border-radius;
    color: $color-bg;
    display: inline-block;
    font-family: $font-family-code;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0.1em;
    padding: 0 0.5em;
    word-break: break-word;
  }

  &__image {
    &-left,
    &-right,
    &-center {
      @include shadow;
      border: $border;
      border-radius: $border-radius;
      display: block;
    }

    &-left {
      float: left;
      margin: {
        left: ($wide-container-size - $narrow-container-size) / -2;
        right: 2rem;
      }
    }

    &-right {
      float: right;
      margin: {
        left: 2rem;
        right: ($wide-container-size - $narrow-container-size) / -2;
      }
    }

    &-left,
    &-right {
      margin: {
        bottom: 0.5rem;
        top: 0.5rem;
      }
      max-width: 15rem;

      @media (max-width: $small-screen-breakpoint) {
        float: none;
        margin: 1.5rem auto;
        max-width: 100%;
      }
    }

    &-center {
      margin: {
        bottom: 1.5rem;
        left: 50%;
        top: 1.5rem;
      }
      max-width: $wide-container-size;
      transform: translateX(-50%);

      @media (max-width: $small-screen-breakpoint) {
        max-width: 100%;
      }
    }
  }

  &__break,
  hr {
    background-color: rgba($color-text, 0.1);
    border: none;
    height: 1px;
    margin: 3.2rem auto 3rem;
    width: 50%;
  }

  &__ordered-list,
  ol {
    @extend .ordered-list;
  }

  &__unordered-list,
  ul {
    @extend .unordered-list;
  }

  &__ordered-list-item,
  ol li {
    @extend .ordered-list__item;
  }

  &__unordered-list-item,
  ul li {
    @extend .unordered-list__item;
  }

  &__sup,
  sup {
    font-size: 0.8rem;
    margin-left: 0.1rem;
    vertical-align: super;

    a {
      border: none;
      color: $color-attention;
      transition: color 100ms ease-in-out;

      &:hover {
        color: $color-text;
      }
    }
  }

  &__footnotes,
  div.footnotes {
    font-size: 1rem;
    margin: 3rem auto 0;
    max-width: $narrow-container-size;
    opacity: 0.8;

    &::before {
      content: 'Footnotes';
      display: inline-block;
      font-family: $font-family-heading;
      font-size: 1.2rem;
      font-weight: $font-family-body-bold-weight;
    }
  }

  &__footer {
    margin: 5rem 0 3rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-top: 3rem;
    }
  }

  & &__author-separator {
    background-color: $color-attention;
    border: none;
    border-radius: $border-radius;
    height: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
    opacity: 1;
    width: 6rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-bottom: 2rem;
    }
  }

  &__author {
    align-items: center;
    display: flex;
    justify-content: space-around;

    @media (max-width: $small-screen-breakpoint) {
      flex-direction: column;
    }
  }

  &__brand {
    color: $color-attention;
    font-family: $font-family-heading;
    font-weight: 400;
  }

  &__author-photo {
    border: $border;
    border-radius: 50%;
    height: 6rem;
    margin-right: 2rem;

    @media (max-width: $small-screen-breakpoint) {
      height: 10rem;
      margin-bottom: 1rem;
    }
  }

  &__author-info {
    display: block;

    @media (max-width: $small-screen-breakpoint) {
      text-align: center;
    }
  }

  & a.post__twitter-follow {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    background-color: #1da1f2;
    color: $color-light;
    border-radius: $border-radius;
    border: none;
    transition: opacity 0.2s;
    margin-top: 1rem;
    font-family: inherit;
    padding: 0.8rem 2rem 0.65rem;
    text-align: center;
    text-decoration: none;

    @media (max-width: $small-screen-breakpoint) {
      padding-bottom: 0.55rem;
    }

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: $small-screen-breakpoint) {
      margin: {
        left: auto;
        right: auto;
      }
    }
  }

  &__twitter-follow-icon {
    width: 1.5rem;
    filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(147deg) brightness(106%) contrast(110%);
  }
}

.post-page-separator {
  background-color: rgba($color-text, 0.1);
  border: 0;
  height: 0.2rem;
  margin: 1rem auto 3rem;
  display: block;

  @media (max-width: $small-screen-breakpoint) {
    margin: 0 auto 1rem;
    width: calc(100% - 3rem);
  }
}

.recommended-posts {
  &__heading {
    margin-bottom: 0.8rem;
  }

  &__item {
    margin-bottom: 0.5rem;

    @media (max-width: $small-screen-breakpoint) {
      margin-bottom: 0.8rem;
    }
  }
}
