$color-attention: #ffaa00;
$color-dark: #141415;
$color-light: #f1f0ee;

$font-family-body: 'PT Sans', sans-serif;
$font-family-code: 'Source Code Pro', monospace;
$font-family-heading: 'Work Sans', sans-serif;

$narrow-container-size: 40rem;
$wide-container-size: 48rem;

$small-screen-breakpoint: $wide-container-size;

$border-radius: 0.35rem;
$border: 0.2rem solid $color-light;
