$color-attention: #ffaa00;
$color-dark: #141415;
$color-light: #f1f0ee;

$font-family-body: 'PT Sans', sans-serif;
$font-family-code: 'Source Code Pro', monospace;
$font-family-heading: 'Work Sans', sans-serif;

$small-screen-breakpoint: 1000px;

$narrow-container-size: 36rem;
$wide-container-size: 42rem;
