<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
      href="https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap"
      rel="stylesheet">
  <link href="{{ site.url }}/public/style.css" rel="stylesheet" />
  <link href="{{ site.url }}/public/favicon.png" rel="shortcut icon">
  {% feed_meta %}
  {% seo title=false %}
  <script src="{{ site.url }}/public/script.js"></script>

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }}
    {% endif %}
  </title>
</head>
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

</body>
</html>
