---
layout: default
---

<main>
  <article class="post">
    <header class="post__header">
      <section class="post__meta">
        {{ page.date | date_to_string }}
      </section>
      <h1 class="post__title">{{ page.title }}</h1>
    </header>

    {{ content }}

    <footer class="post__footer clearfix">
      <hr class="post__author-separator" />

      <section class="post__author">
        <img alt="Evrim Persembe" class="post__author-photo" src="{{ site.url }}/public/evrim-persembe.jpg" />
        <div class="post__author-info">
          <em class="paragraph__strong">Hi, I'm <span class="post__brand">Evrim.</span></em>
            I’m a software developer and an entrepreneur.
            My main interests are startups and online education.
        </div>
      </section>
    </footer>
  </article>
</main>

<hr class="post-page-separator container" />

{% include newsletter.html %}

{% assign post_category = page.categories[0] %}
{% assign category = site.categories[post_category] %}
{% assign category_size = category | size %}
{% if category_size > 0 %}
<section class="recommended-posts container">
  <h1 class="recommended-posts__heading heading">Other posts you might like</h1>
  <ul>
    {% assign num_related = 3 %}
    {% assign related_count = 0 %}
    {% for post in category %}
    {% if post.url != page.url %}
    {% assign related_count = related_count | plus: 1 %}
    <li class="recommended-posts__item">
      <a class="link recommended-posts__link" href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% if related_count >= num_related %}
    {% break %}
    {% endif %}
    {% endfor %}
  </ul>
</section>
{% endif %}
