---
layout: default
---

{% include header.html %}

<main>
  <article class="article">
    <header class="article__header">
      <section class="article__meta">
        {{ page.date | date_to_string }}
        <span class="article__categories">
          {% for category in page.categories %}
            {% assign category_page = site.category_pages | where: "title", category | first %}
            <a alt="{{ category }}" class="link-attention article__category-link" href="{{ category_page.url }}">
              {{ category }}</a>{% unless forloop.index == page.categories.size %},{% endunless %}
          {% endfor %}
        </span>
      </section>
      <h1 class="article__title">{{ page.title }}</h1>
    </header>

    {{ content }}

    <footer class="article__footer clearfix">
      <hr class="article__author-separator" />

      <section class="article__author">
        <img alt="Evrim Persembe" class="article__author-photo" src="{{ site.url }}/public/evrim-persembe.jpg" />
        <div class="article__author-info">
          <em class="paragraph__emphasis">Hi, I'm Evrim.</em> I'm a web and mobile app developer based in Dubai. I&nbsp;mostly
          write about software, productivity, and business.
          <br />
          <a class="link-attention" href="#">More about me.</a>
        </div>
      </section>
    </footer>
  </article>
</main>

<hr class="article-page-separator container" />

<section class="newsletter container">
  <h1 class="newsletter__heading heading">Sign up to my newsletter</h1>
  <p class="paragraph">Get notified when I publish something new.</p>
  <form class="newsletter__form">
    <label class="sr-only" for="name">First Name:</label>
    <input class="input newsletter__input" id="name" placeholder="First Name" type="text" />

    <label class="sr-only" for="email">Email:</label>
    <input class="input newsletter__input" id="email" placeholder="Email" type="email" />
    <button class="button" type="submit">Sign Up</button>
  </form>
</section>

{% assign post_category = page.categories[0] %}
{% assign category = site.categories[post_category] %}
{% assign category_size = category | size %}
{% if category_size > 0 %}
<section class="recommended-articles container">
  <h1 class="recommended-articles__heading heading">Other articles you might like</h1>
  <ul class="vertical-list">
    {% assign num_related = 3 %}
    {% assign related_count = 0 %}
    {% for post in category %}
    {% if post.url != page.url %}
    {% assign related_count = related_count | plus: 1 %}
    <li class="vertical-list__item">
      <a class="link-light recommended-articles__link" href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% if related_count >= num_related %}
    {% break %}
    {% endif %}
    {% endfor %}
  </ul>
</section>
{% endif %}
